.projectcard {
  .container-card {
    padding: 18px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .project-categories{
    color:white;
  }
  .container-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 50px 0px rgba(36, 44, 48, 0.4);
    color: #000;

    .project-categories {
      color: #fff !important;
    }
  }

  .project-right-top:hover::after {
    background: var(--Neutral-light);
    .project-categories {
      background: var(--Primary-400, #303030);
    }
  }

  .project-card {
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(146, 124, 124, 0.05);
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  .swiper-img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .project-categories {
    border-radius: 10px;
    background: var(--Primary-400, #303030);
    padding: 9px 8px;
   
  }

  .project-content h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .project-content p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 0.5rem;
  }

  .swiper-arrow {
    width: 27.712px;
    height: 27.712px;
    transform: rotate(-46deg);
  }

  .open-arrow {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    width: 52px !important;
    height: 52px !important;
    padding: 14px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 10px;
    background: #dc0d1a;
  }

  // .lead {
  //   font-size: 16px !important;
  // }
}
