.services_section {
    // TODO Met David
  margin: 20px 0px 35px 0px;

  .lead {
    font-size: 16px;
  }

  .number + div > a h3 {
    font-weight: 400;
  }

   @media (min-width: 992px) {
     margin: 80px 0px;
    h2{
    line-height: 49px;
    }
  }
}
