.custom-swiper-scrollbar {
  flex-grow: 1;
  // &:not(.d-flex .custom-swiper-scrollbar) {
  //   width: 100%;
  // }
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #e3e3e3;
    border-radius: 5px;
    background-image: linear-gradient(#dc0d1a, #dc0d1a);
    background-repeat: no-repeat;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  /* Input Track */
  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  input[type="range"]:hover {
    opacity: 1;
  }

  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 30px;
    background: #e3e3e3;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #604d4d, 0px 0px 1px #b18e8e;
    // transition: background 0.3s ease-in-out;
  }
}
