.tabs {
  margin: 80px 0px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;

  h3 {
    font-family: "Funnel Display";
    line-height: 120%;

    @media (min-width: 992px) {
      font-size: 40px;
      font-weight: 700;
    }
  }
  h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 22px !important;
      line-height: 26.4px !important;
    }
    @media (min-width: 992px) {
      font-size: 22px !important;
    }
  }

  .tab-wrap {
    border-radius: 20px 20px 0 0;
    background: #303030;
  }

  //Clip path
  // .tab-wrap a.tab-third.active::before {
  //   background: transparent !important;
  // }

//To moves the text down 
  .tab-link:not(.active) h4 {
    position: relative;
    top: 10px; 
   
}
  /* The border between the second and third tab */
  .tab-2 .tab-link::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    width: 1px;
    background-color: #fff;
    display: none;
  }

  /* The border between the first and second tab */
  .tab-1 .tab-link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    width: 1px;
    background-color: #fff;
    display: none;
  }

  /* If tab 0 is active → show border on tab 2 */
  .tab-wrap:has(.tab-0 .tab-link.active) .tab-2 .tab-link::after {
    display: block;
  }

  /* If tab 2 is active → show border on tab 1 */
  .tab-wrap:has(.tab-2 .tab-link.active) .tab-1 .tab-link::after {
    display: block;
  }

  .tab-wrap a {
    padding: 20px 20px;
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      // clip-path: url(#tab-path);
      background: var(--Primary-400, #303030);
    }
    &::after {
      content: "";
      position: absolute;
      top: calc(100% - 1px);
      left: 0;
      height: 40px;
      z-index: -1;
      width: 100%;
    }
  }

  nav {
    display: flex;
    a.active {
      &::before,
      &::after {
        background: var(--Primary-200, #6b6b6b);
        border-radius: 20px 20px 0 0;
      }
    }
  }

  .tab-content {
    position: relative;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
    background: var(--Primary-200, #6b6b6b);
    padding: 36px;

    @media (min-width: 768px) {
      padding: 60px;
    }

    @media (min-width: 992px) {
      padding: 60px;
    }
  }

  .tabs-img {
    border-radius: 20px;
    // TODO Frank vragen
    //   background: lightgray 0px -96.305px / 100% 206.49% no-repeat,
    //  lightgray 50% / cover no-repeat;
    overflow: hidden;
    position: relative;
    width: 100%;
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  }

 
}
