.p404{
  height: 100vh;
  .p404-container{
        padding-top: 200px;
  }
 .p404-img{
      object-fit: cover;
    }

    

  background-image: url(../images/lijnen.png)!important;
  background-repeat: repeat-x;
  background-size: 1470px;
  background-position:top center;
pointer-events: none;
 
}
