.p404{
  height: 100vh;
  .p404-container{
    margin-top: 13rem;
  }
 .p404-img{
      object-fit: cover;
    }

    

  background-image: url(../images/lijnen.png)!important;
  background-repeat: repeat-x;
  background-size: 1470px;
  background-position:top center;

 
}
