
//#scrollbar-indicator
#scrollbar-indicator {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px; 
  width: 0%;
  background-color: var(--Secondary-500); 
  z-index: 9999;
  transition: width 0.25s ease-out;
}

.whatsapp-container {
  display: flex;
  width: 52px;
  height: 52px;
  padding: 14px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 60px;
  background: #fff;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
    // box-shadow: 0 0 15px 5px rgba(220, 13, 26, 0.6);
    background: var(--Secondary-500);
    .whatsappimg {
      filter: brightness(0) invert(1);
    }
  }
}
.whatsappimg {
  width: 22.048px;
  height: 22.04px;
  flex-shrink: 0;
}
.whatsapp-fixed {
  position: fixed;
  bottom: 10px;
  right: 51px;
  z-index: 1000;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.bel-of-app-container {
  display: flex;
  padding: 10px 10px 10px 30px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
  background: var(--Primary-400, #303030);
}

.img_with_text .order-1 {
  order: 1;
}
.img_with_text .order-2 {
  order: 2;
}

.img_with_text.with-background {
  border-radius: 40px;
  padding: 60px 10px;
  &.bg-light {
    background: var(--Primary-400) !important;
  }

  &.bg-dark {
    background: var(--Primary-600, #020202) !important;
  }
}

.img_with_text {
  margin-bottom: 60px;
}

.breadcrumbs {
  color: #fff;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.breadcrumb-wrap {
  z-index: 3;
  align-items: flex-start;
}

#breadcrumbs span a,
#breadcrumbs span strong {
  color: #fff;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 4;
  // top: 20px;
}
// .navbar {
//   margin-top: 10px;
// }
.navbar {
  display: flex;
  padding: 15px 39px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border-radius: 0px 0px 20px 20px;
  background: var(--Primary-500);
}

.logo {
  width: 165.603px;
  height: 57.484px;
  aspect-ratio: 165.6/57.48;
}

/* NavBar Links */
.navbar-nav .nav-link {
  margin: 0 10px;
  color: #fff;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  //Added to apply the hover effect
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  // color: var(--Secondary-500) !important;
  color: var(--Neutral-light) !important;
  font-weight: 900;
}

.nav-link-ltr::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: var(--Secondary-500);
  transition: width 0.3s ease;
}

.nav-link-ltr:hover {
  color: var(--Secondary-500) !important;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.nav-link-ltr {
  position: relative;
  width: fit-content;
  transition: all 0.3s ease;

  &-underline {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100% !important;
      background-color: white;
      transition: background-color 0.3s ease;
    }
    &:hover::before {
      background-color: var(--Secondary-500) !important;
    }
  }
}

.dropdown-toggle::after {
  display: none;
  //Removed the defualt icon of dropdown
}

//Hamburger-menu
// .navbar-toggler {
//   border: none;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   border-radius: 10px;
//   border: 2px solid #dc0d1a;
//   width: 52px;
//   height: 52px;
//   padding: 15px 8px;
// }

// .navbar-toggler:focus {
//   box-shadow: unset !important;
// }
// .toggler-icon {
//   // width: 20px;
//   // height: 1px;
//    width: 100%;
//   height: 10%;
//   background-color: #ffffff;
//   display: block;
//   transition: all 0.2s ease-in-out;
//   opacity: 1;
//   margin: 3px 0;
// }
// /*  toggled state */

// .navbar-toggler:not(.collapsed) .top-bar {
//   transform: rotate(39deg) translate(2px, 1px);
// }
// .navbar-toggler:not(.collapsed) .middle-bar {
//   opacity: 0;
// }
// .navbar-toggler:not(.collapsed) .bottom-bar {
//   transform: rotate(-37deg) translate(1px, -2px);
// }
// .navbar-toggler .top-bar {
//   transform: rotate(34deg);
//   transform-origin: 10% 10%;
// }
// .navbar-toggler .middle-bar {
//   opacity: 0;
//   filter: alpha(opacity=0);
// }
// .navbar-toggler .bottom-bar {
//   transform: rotate(-40deg);
//   transform-origin: 10% 10%;
// }
// .navbar-toggler.collapsed .top-bar {
//   transform: rotate(0);
// }
// .navbar-toggler.collapsed .middle-bar {
//   opacity: 1;
//   filter: alpha(opacity=100);
// }
// .navbar-toggler.collapsed .bottom-bar {
//   transform: rotate(0);
// }

//Added new Hamburger style
.wrapper{
  height: 52px;
  width: 52px;
  padding: 15px 8px;
}
#box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px; 
  height: 52px;
  border: 2px solid #dc0d1a;
}

.hamburger {
  width: 70%;
  height: 48%;
  cursor: pointer;
  position: relative;
}

.hamburger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.hamburger span.one {
  top: 20%;
}

.hamburger span.two {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger span.three {
  top: 70%;
}

/* When the menu opens (Bootstrap removes the collapsed from the button) */
.navbar-toggler:not(.collapsed) .hamburger .one {
  transform: translateY(250%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) .hamburger .two {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .hamburger .three {
  transform: translateY(-250%) rotate(-45deg);
}

///End of adding



.dropdownarrow {
  width: 12px;
  height: 7.41px;
  margin-left: 8px;
  transition: transform 0.3s ease-in-out;
}
.dropdown-arrow {
  width: 19px;
  height: 19px;
}
//To remove defualt style

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: unset !important;
}

@media (max-width: 1199.98px) {
  //max-width: 1199.98px
  //max-width: 991px
  .navbar-toggler {
    display: flex;
  }

  //Added Nav links appear one by one from left to right
  .navbar-nav .nav-link {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .ul-bg.menu-open .nav-item:nth-child(1) .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s;
  }
  .ul-bg.menu-open .nav-item:nth-child(2) .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
  }
  .ul-bg.menu-open .nav-item:nth-child(3) .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s;
  }
  .ul-bg.menu-open .nav-item:nth-child(4) .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.4s;
  }
}

.divider {
  border: 1px solid #6b6b6b;
}

.number {
  display: flex;
  width: 52px;
  height: 52px;
  padding: 14px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--Primary-400);
  cursor: pointer;

  // &:hover {
  //   background: var(--Secondary-500);
  // }
  // &:hover + h3,
  // &:hover ~ .text-hover-underline {
  //   text-decoration: underline;
  //   text-decoration-style: solid;
  // }
}

.vacature-item {
  cursor: pointer;
  &:hover {
    .number {
      background: var(--Secondary-500);
    }
    .text-hover-underline {
      text-decoration: underline;
      // text-decoration-style: solid;
      font-weight: 700;
    }
  }
}

//Style for Vactures section
// .number + div >  h3 {
//   font-weight: 400;
// }

.tag {
  border-radius: 10px;
  background: var(--Primary-400);
  padding: 5px 8px;
}

.services_section {
  margin: 80px 0px;
}

.call_to_action_section {
  margin: 80px 0px;
  display: flex;
  // padding: 40px 60px 40px 40px;
  padding: 30px;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  background: var(--Secondary-500);
}

.text {
  margin: 80px 0px;
}

.project-container {
  margin: 80px 0px;
}
.text_with_button {
  margin: 0px 0px 60px 0px;
}

.img-text {
  border-radius: 30px;
  background: lightgray 0px -128.77px / 100% 206.49% no-repeat,
    lightgray 50% / cover no-repeat, lightgray 50% / cover no-repeat;
  object-fit: cover;
}

.werken-bij_section {
  margin: 80px 0px;
}

.shared-content {
  display: flex;
  // padding: 20px;
  padding: 53px 53px 45px 53px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 20px;
  overflow: hidden;
}

.werk-bij-arrow {
  width: 51.636px;
  height: 51.636px;
  margin-top: 42px;
  transform: rotate(-41deg);
}
// .white-arrow {
//   transform: rotate(-41deg);
// }
.red-arrow {
  filter: brightness(0) saturate(100%) invert(17%) sepia(100%) saturate(5000%)
    hue-rotate(340deg) brightness(90%);
}
.black-arrow {
  filter: brightness(0);
}
.back-text {
  color: #191919 !important;
  position: relative;
  z-index: 0;
}

.center_text_button {
  margin: 100px 0px;
  padding: 40px;
  gap: 40px;
  border-radius: 30px;
  border: 2px solid var(--Secondary-500, #dc0d1a);
}

@media (min-width: 992px) {
  .img_with_text.with-background {
    padding: 60px;
  }

  .center_text_button {
    padding: 60px;
  }
}
