.fancybox {
    --all: 0px;
    --background: pink;

    transition: 0.5s ease;
    display: inline-block;
    filter: url(#semiround);
    position: relative;

    &::before {
        transition: 0.5s ease;

        filter: url(#semiround);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--background, red);
        mask: linear-gradient(39deg, transparent 0 var(--bottom-left, var(--all)), #fff 0) bottom left, linear-gradient(-39deg, transparent 0 var(--bottom-right, var(--all)), #fff 0) bottom right,
            linear-gradient(141deg, transparent 0 var(--top-left, var(--all)), #fff 0) top left, linear-gradient(-141deg, transparent 0 var(--top-right, var(--all)), #fff 0) top right;
        mask-size: 50.5% 50.5%;
        mask-repeat: no-repeat;
        z-index: -1;
    }
    &.rounded {
        filter: url(#round);
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) -11.36%, rgba(0, 0, 0, 0.81) 82.88%);
        clip-path: polygon(39% 0%, 100% 0, 100% 100%, 0 100%, 0% 26%);
        @media (min-width: 768px) {
            clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0 100%, 0% 48%);
        }
        z-index: 1;
    }
    video {
        clip-path: polygon(39% 0%, 100% 0, 100% 100%, 0 100%, 0% 26%);
        // clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0 100%, 0% 18%);
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (min-width: 768px) {
            clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0 100%, 0% 48%);
        }
    }
}

.fancyboxMath {

    .overlay{
            height: 100%!important;
        position: absolute;
        width: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);

        @media screen and (max-width:992px) {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0) 100%);
        }
    }

    background:green;
      --bevel-size: 28.5px; 
      --bevel-offset: 0.9px;
      --bevel-curve: 0.7;
      
      --corner-top: var(--bevel-size);
      --corner-side: calc(var(--bevel-size) * 1.13); 
      --corner-inner-offset: calc(var(--bevel-size) * 0.2); 
      
      clip-path: polygon(
          calc(100% - var(--corner-top)) calc(100% - var(--bevel-offset)),
          var(--corner-side) calc(100% - var(--bevel-offset)),
          var(--corner-side) calc(100% - var(--bevel-offset)),
          calc(var(--corner-side) * 0.8377) calc(100% - calc(var(--bevel-offset) * 1.4678)),
          calc(var(--corner-side) * 0.6837) calc(100% - calc(var(--bevel-offset) * 2.8222)),
          calc(var(--corner-side) * 0.5402) calc(100% - calc(var(--bevel-offset) * 4.99)),
          calc(var(--corner-side) * 0.4092) calc(100% - calc(var(--bevel-offset) * 7.8978)),
          calc(var(--corner-side) * 0.2927) calc(100% - calc(var(--bevel-offset) * 11.4722)),
          calc(var(--corner-side) * 0.1928) calc(100% - calc(var(--bevel-offset) * 15.64)),
          calc(var(--corner-side) * 0.1115) calc(100% - calc(var(--bevel-offset) * 20.4622)),
          calc(var(--corner-side) * 0.0509) calc(100% - calc(var(--bevel-offset) * 25.4622)),
          calc(var(--corner-side) * 0.0131) calc(100% - calc(var(--corner-top) * 1.16)),
          
          0px calc(var(--corner-top) * 3.0667),
          0px calc(var(--corner-top) * 3.0667),
          calc(0.0068 * var(--corner-top)) calc(var(--corner-top) * 2.9674),
          calc(0.0267 * var(--corner-top)) calc(var(--corner-top) * 2.871),
          calc(0.0589 * var(--corner-top)) calc(var(--corner-top) * 2.7794),
          calc(0.1026 * var(--corner-top)) calc(var(--corner-top) * 2.6937),
          calc(0.157 * var(--corner-top)) calc(var(--corner-top) * 2.614),
          calc(0.2213 * var(--corner-top)) calc(var(--corner-top) * 2.543),
          calc(0.2947 * var(--corner-top)) calc(var(--corner-top) * 2.4804),
          calc(0.3764 * var(--corner-top)) calc(var(--corner-top) * 2.4269),
          calc(0.4655 * var(--corner-top)) calc(var(--corner-top) * 2.3848),
          calc(0.5614 * var(--corner-top)) calc(var(--corner-top) * 2.3544),
          
          calc(100% - calc(var(--corner-side) * 0.9565)) calc(var(--bevel-offset) * 0.7778),
          calc(100% - calc(var(--corner-side) * 0.9565)) calc(var(--bevel-offset) * 0.7778),
          calc(100% - calc(var(--corner-side) * 0.8113)) calc(var(--bevel-offset) * 0.0218),
          calc(100% - calc(var(--corner-side) * 0.6698)) calc(var(--bevel-offset) * 0.2364),
          calc(100% - calc(var(--corner-side) * 0.5349)) calc(var(--bevel-offset) * 1.3458),
          calc(100% - calc(var(--corner-side) * 0.4093)) calc(var(--bevel-offset) * 3.2738),
          calc(100% - calc(var(--corner-side) * 0.2954)) calc(var(--bevel-offset) * 5.9444),
          calc(100% - calc(var(--corner-side) * 0.1963)) calc(var(--bevel-offset) * 9.2819),
          calc(100% - calc(var(--corner-side) * 0.1145)) calc(var(--bevel-offset) * 13.208),
          calc(100% - calc(var(--corner-side) * 0.0527)) calc(var(--bevel-offset) * 17.6525),
          calc(100% - calc(var(--corner-side) * 0.0136)) calc(var(--bevel-offset) * 22.5339),
          calc(100% - 0px) calc(var(--corner-top) * 0.8772),
          
          calc(100% - 0px) calc(100% - var(--corner-top) * 1.0316),
          calc(100% - 0px) calc(100% - var(--corner-top) * 1.0316),
          calc(100% - 0.013 * var(--corner-top)) calc(100% - var(--corner-top) * 0.8697),
          calc(100% - 0.0508 * var(--corner-top)) calc(100% - var(--corner-top) * 0.716),
          calc(100% - 0.1112 * var(--corner-top)) calc(100% - var(--corner-top) * 0.5726),
          calc(100% - 0.1923 * var(--corner-top)) calc(100% - var(--corner-top) * 0.4416),
          calc(100% - 0.2921 * var(--corner-top)) calc(100% - var(--corner-top) * 0.325),
          calc(100% - 0.4084 * var(--corner-top)) calc(100% - var(--corner-top) * 0.2249),
          calc(100% - 0.5395 * var(--corner-top)) calc(100% - var(--corner-top) * 0.1435),
          calc(100% - 0.683 * var(--corner-top)) calc(100% - var(--corner-top) * 0.0827),
          calc(100% - 0.8372 * var(--corner-top)) calc(100% - var(--corner-top) * 0.0447),
          calc(100% - var(--corner-top)) calc(100% - var(--bevel-offset))
      );
  }
  
