.fancybox {
    --all: 0px;
    --background: pink;

    display: inline-block;
    margin: 10px;
    filter: url(#round);
    position: relative;

    &::before {

        filter: url(#round);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--background, red);
        mask: linear-gradient(45deg, transparent 0 var(--bottom-left, var(--all)), #fff 0) bottom left, linear-gradient(-45deg, transparent 0 var(--bottom-right, var(--all)), #fff 0) bottom right,
            linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0) top left, linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), #fff 0) top right;
        mask-size: 50.5% 50.5%;
        mask-repeat: no-repeat;
        z-index: -1;
    }
}