.button {
  display: inline-flex;
  padding: 11px 19px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  width: fit-content;
  font-family: Figtree;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  color: #fff;

  //Added to apply the hover effect
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;

  //1
  // z-index: 1;
  // background: transparent;
  // overflow: hidden;
}

.button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.5s;
}



.secondary-button {
  background: var(--Secondary-500);
  font-size: 16px;
  font-weight: 600;
  // line-height: 160%;
  &:hover {
    background: var(--Neutral-light);
    color: var(--Primary-600) !important;
    border: 1px solid var(--Primary-600);
    .dropdown-arrow {
      // filter: brightness(0) invert(1);
      filter: brightness(0);
    }
  }
}

//To make the hover animation smoother by adding a transition
.primary-button {
  border: 2px solid var(--Secondary-500);
   transition: border-color 0.3s ease, color 0.3s ease, filter 0.3s ease;

  &:hover {
    border: 2px solid #fff;
    color: #fff !important;
    .arrow {
      filter: brightness(0) invert(1);
    }
  }
}
.custom-button {
  border: 2px solid #fff;
  &:hover {
    background: var(--Primary-500);
    color: #fff !important;
    .arrow {
      filter: brightness(0) invert(1);
    }
  }
}
.outline-white-button {
  background: var(--Primary-200, #6b6b6b);
  border: 2px solid #fff;
  &:hover {
    background: var(--Primary-500);
    color: #fff !important;
    .arrow {
      filter: brightness(0) invert(1);
    }
  }
}
