.projecten-slider {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    // width: 100%;
    // margin: 0 auto;
    //  overflow: visible;
    display: flex;
    padding: 60px 0px;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 40px;
    //  background: var(--Primary-600);

  
    
    .container-card {
        padding: 18px;
        overflow: hidden;
    }

    .projecten-swiper {
        padding: 40px 0;
    }

    .project-card {
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .swiper-slide {
        &:hover {
            transform: translateY(-5px);
        }
    }
    
    .swiper-img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    // .custom-shape {
    //     // clip-path: polygon(80px 0, 100% 0, 100% 100%, 0 100%, 0 80px);
    //     //  clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%);
    //     border-radius: 20px 0 0 20px;
    //     //clip-path: polygon(0 0, calc(91% - 82px) 0, 100% 86px, 100% 100%, 0 100%);
    //     clip-path: polygon(0 0, calc(90% - 61px) 0, 100% 75px, 100% 100%, 0 100%);
    //     overflow: hidden;
    // }

    .open-arrow {
        position: absolute;
        bottom: 8px;
        right: 16px;
        display: flex;
        width: 52px;
        height: 52px;
        padding: 14px 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 10px 10px 0px 10px;
        background: #dc0d1a;
    }

    .project-content {
        background: var(--Primary-600);
    }
    
    .project-content h5 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .project-content p {
        font-size: 0.95rem;
        color: #555;
        margin-bottom: 0.5rem;
    }
    //
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none !important;
    }
    .swiper-navigation {
        margin-top: 90px;
        margin-bottom: 25px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        position: static;
        color: #fff;
        display: flex;
        width: 52px;
        height: 52px;
        padding: 14px 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(--Primary-500);
        font-size: 18px;
        cursor: pointer;
    }

}
