.projecten {
  .hero-section {
    height: unset;
  }

  // margin-top: 100px;

  .filter-section {
    padding: 53px 30px 83px 30px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
    // overflow: hidden;
     overflow: visible;
  }

  div.sticky-wrapper {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 10;
  }
  div.sticky {
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 30px;
  font-size: 20px;
}


  //

  #project_category,
  #plaats {
    border: 1px solid var(--Neutral-400, #d5d3cd) !important;
    background-color: var(--Primary-500) !important;
    color: var(--Neutral-400, #d5d3cd) !important;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    background-image: url("../images/filtter-icon.svg") !important;
    background-size: 24px 24px !important;
  }
}
