.projecten {
  .hero-section {
    height: 185px;
    @media (min-width: 768px) {
      height: 320px;
    }
  }

  .project-container {
    margin: 80px 0px 0px 0px;
    @media (min-width: 768px) {
      margin: 80px 0px;
    }
  }
  .center_text_button {
    margin: 40px 0px 100px 0px;
  }

  .filter-section {
    padding: 35px 30px 83px 30px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
    overflow: hidden;
  }

  div.sticky-wrapper {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 141px;
  }

  #project_category,
  #plaats {
    border: 1px solid var(--Neutral-400, #d5d3cd) !important;
    background-color: var(--Primary-500) !important;
    color: var(--Neutral-400, #d5d3cd) !important;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    background-image: url("../images/filtter-icon.svg") !important;
    background-size: 24px 24px !important;
    padding: 16px !important;
    border-radius: 8px !important;
  }
  .pagination-btn {
    position: relative;
    color: var(--Primary-600);
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
     cursor: pointer;
  }


 
  .pagination-next {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 13px 15px;
    border: unset;
    position: relative;
    cursor: pointer;
    background: var(--Primary-200);
    transition: background 0.3s ease, filter 0.3s ease;

    &:after {
      content: "";
      mask-image: url("../images/next-btn.svg");
      mask-position: center;
      mask-size: 19px;
      mask-repeat: no-repeat;
      background-color: var(--Primary-600);
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:hover {
      background-color: var(--Neutral-light);
      //  filter: brightness(0);
    }
  }

  .pagination-prev {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 13px 15px;
    position: relative;
    border: unset;
    cursor: pointer;
    transition: background 0.3s ease, filter 0.3s ease;
    &:after {
      content: "";
      mask-image: url("../images/prev-btn.svg");
      mask-position: center;
      mask-size: 19px;
      mask-repeat: no-repeat;
      background-color: var(--Primary-600);
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      background-color: var(--Neutral-light);
      // filter: brightness(0);
    }
  }
}
