.single-project {
 
  .projecten-slider {
    margin-bottom: 80px !important;
    margin-top: 30px;
    @media (min-width: 768px) {
      margin-top: unset;
    }
  }
  .first-section {
    margin: 80px 0px;
  }

  .project-items {
    padding: 5px 8px;
    border-radius: 5px;
    background: #454545;
    transition: all 0.5s ease;

    .right-section {
      padding: 53px 50px 83px 50px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      border-radius: 20px;
      overflow: hidden;
    }

    .content-container {
      padding: 50px;
    }
  }

  // Images swiper Style
  .image-swiper {
    
    width: 100%;
    overflow: visible;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 6px 0px 0px 0px;

    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    .swiper-img {
      object-fit: cover;
      width: 100%;
      // height: auto;
       max-height: 386px;
    border-radius: 30px;

    }

    .swiper-img-container {
      transition: transform 0.5s ease, box-shadow 0.5s ease;
      cursor: pointer;
    }
    .swiper-img-container:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 50px 0px rgba(36, 44, 48, 0.4);
    }
    .images-slider {
      padding: 80px 0;
    }

    .swiper-slide {
      &:hover {
        transform: translateY(-5px);
      }
    }

    //Removed the defualt
    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none !important;
    }
    .swiper-navigation {
      margin-top: 60px;
    }

    .swiper-arrow {
      width: 19px;
      height: 19px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      color: #fff;
      display: flex !important;
      width: 52px;
      height: 52px;
      padding: 14px 8px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: var(--Primary-400);
      font-size: 18px;
      cursor: pointer;

      &:hover {
        background: var(--Neutral-light);
        .swiper-arrow {
          filter: brightness(0);
        }
      }
    }
  }

  .share-icon {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 14px 8px;
    gap: 10px;
    transition: all 0.5s ease;
    border-radius: 10px;
    background: var(--Primary-400);
    &:hover {
      transform: scale(1.05);
      background: var(--Secondary-500);
    }
  }

  .lead {
    font-size: 16px;
    line-height: 160%;
  }
}
