.solliciteer-form {
  .contact-form {
    background: #1c1c1c;
    border-radius: 30px;
    opacity: 1;
    display: flex;
    padding: 25px;
    gap: 10px;
    border: 2px solid var(--Secondary-500, #dc0d1a) !important;
  }
  @media (min-width: 992px) {
    .contact-form {
      padding: 60px;
    }
  }

  .form-1 .gform_wrapper .gform_body .gform_fields .gfield {
    width: 100%;
  }

  /* Input field */
  .gform-theme--foundation .gfield input,
  .gform-theme--foundation .gfield select {
    width: 96% !important;
    box-sizing: border-box !important;
    border-radius: 8px !important;
    margin-bottom: 5px !important;
    border: 1px solid var(--Neutral-400) !important;
    background: #1c1c1c !important;
    padding: 16px !important;
    color: var(--Neutral-500, #808282) !important;
    font-family: Figtree !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 160% !important;
    --gf-local-height: unset !important;
  }

  .gform_wrapper .gform_footer .gform_button {
    padding: 18px 40px 18px 20px !important;
    border-radius: 10px !important;
    background: var(--Secondary-500) !important;
    color: #fff !important;
    font-family: Figtree !important;
    font-weight: 600 !important;
    line-height: 160% !important;
    border: none !important;
    font-size: 18px !important;
    font-style: normal !important;
    line-height: 25.2px !important;
    background-image: url("../images/next-btn.svg") !important;
    background-size: 20px 16px !important;
    background-position: right 14px center !important;
    background-repeat: no-repeat !important;
  }

  #input_1_11,
  #input_1_12,
  #input_3_11,
  #input_3_12 {
    border-radius: 8px !important;
    border: 1px dashed var(--Neutral-400, #d5d3cd) !important;
    opacity: 0.7;
    background: var(--Primary-400, #303030) !important;
    background-image: url("../images/upload-icon.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right 13px center !important;
  }
  .gform_wrapper .gform_footer .gform_button:hover {
    box-shadow: 0 0 15px 5px rgba(220, 13, 26, 0.6) !important;
  }

  .gform-theme--framework,
  .gform-field-label,
  .gform-label,
  .gfield_label,
  .name-label {
    &:not(.gfield_consent_label) {
      color: var(--Neutral-light) !important;
      font-family: Figtree !important;
      font-size: 16px !important;
      font-style: normal;
      font-weight: 700;
      line-height: 120% !important;
    }
  }

  .gform-theme--foundation .gform_fields {
    grid-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, auto);

    grid-row-gap: 20px !important;
  }

  .gfield
    .gfield--type-html
    .gfield--input-type-html
    .gfield_html
    .gfield_html_formatted
    .gfield_no_follows_desc
    .field_sublabel_below
    .gfield--no-description
    .field_description_below
    .field_validation_below
    .gfield_visibility_visible {
    color: var(--Neutral-500, #808282) !important;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    a {
      text-decoration: underline;
      color: var(--Neutral-500, #808282);

      /* Desktop/Small (Regular) */
      font-family: Figtree;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-color: #fff;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  .form-1 .gform_wrapper .gform_body .gform_fields .gfield {
    color: var(--Neutral-500, #808282) !important;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    a {
      text-decoration: underline;
      color: var(--Neutral-500, #808282) !important;
      //color: #fff !important;
      font-family: Figtree;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-color: #fff;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  .gform_heading {
    display: none !important;
  }
}
