@import "variables";
@import "~bootstrap";
@import "~bootstrap/scss/_variables";
@import "font";

@import "../../node_modules/swiper/swiper-bundle.min.css";

:root {
  --Primary-200: #6b6b6b;
  --Primary-400: #303030;
  --Primary-500: #1c1c1c;
  --Primary-600: #020202;
  --Secondary-400: #656572;
  --Secondary-500: #dc0d1a;
  --Neutral-light: #fff;
  --Neutral-400: #d5d3cd;
  --Neutral-500: #808282;
}

/* General styling */
html,
body {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: clip;
   background: var(--Primary-500);
  scroll-behavior: smooth;
  position: relative;
  z-index: 1;
  color:#fff;
}

a{
  color:inherit;
  &:hover{
    color:inherit;
  }
}

* {
  scroll-margin-top: 80px;
}

a:any-link {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

/* Imports */
@import "components/project-swiper";
@import "button";
@import "components/hero";
@import "header";
@import "front-page";
@import "footer";
@import "pages/front-page";
@import "pages/page";
@import "pages/login";
@import "werken-bij";
@import "components/tab";
@import "components/solliciteer_form";
@import "components/contact_formulier";
@import "single-vacature";
@import "projecten";
@import "components/projectcard";
@import "single-project";
@import "thankyou";
@import "404";
@import "components/quote_section";
@import "components/services_section";
@import "components/text";
@import "components/vacature-section";
@import "components/werken-bij_section";
@import "components/img_with_text";

@import "components/swiper-scrollbar";
@import 'aos/dist/aos.css';

.page:has(.lijnen-bg) {
  background-image: url(../images/lijnen.png) !important;
  background-repeat: repeat-x;
  background-size: 1470px;
  background-position: top center;
}


.single-project:has(.lijnen-bg),
.archive:has(.lijnen-bg) {
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    rotate: 180deg;
    background-image: url(../images/lijnen.png) !important;
    background-repeat: repeat-x;
    background-size: 1470px;
    background-position: bottom center;
  }
}
