@import "variables";
@import "~bootstrap";
@import "~bootstrap/scss/_variables";
@import "font";


:root {
    --Primary-500: #1C1C1C;
    --Primary-600: #020202;
    --Secondary-500: #DC0D1A;
}




/* General styling */
html, body {
    margin: 0 !important;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background: var(--Primary-500);
}

a:any-link {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}


.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

/* Imports */

@import "button";
@import "header";
@import "footer";
@import "pages/front-page";
@import "pages/page";
@import "pages/login";