@import "variables";
@import "~bootstrap";
@import "~bootstrap/scss/_variables";

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Solitreo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Funnel+Display:wght@300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Solitreo&display=swap');


:root {
    --Primary-500: #1C1C1C;
    --Primary-600: #020202;
    --Secondary-500: #DC0D1A;
}




/* General styling */
html, body {
    margin: 0 !important;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background: var(--Primary-500);
}

a:any-link {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

.bg-contain {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-cover {
    background-size: cover;
    background-position: center;
}

/* Imports */

@import "button";
@import "header";
@import "footer";
@import "pages/front-page";
@import "pages/page";
@import "pages/login";