.text{
    b,strong{
color: var(--Secondary-500, #DC0D1A);
text-decoration: underline;
font-family: Figtree;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 160%;
cursor: pointer;
    }
}